@font-face {
    font-family: 'Sahel';
    src: url(../fonts/sahel.ttf);
}

body {
    font-family: 'Sahel';
    background-color: #F8F9FA;
}

.modal-header .btn-close {
    margin: -.5rem auto -.5rem -.5rem;
}

.custom-breadcrumb > a {
    text-decoration: none;
    font-size: 1.25rem;
}

.custom-breadcrumb .active {
    color: #373737;
    cursor: auto;
}
